@{
    ViewData["Title"] = "Sobre Mim";
}

<section class="bg-dark text-white text-center pb-3">
    <div class="container d-flex align-items-center flex-column">
        <img class="mb-5" src="~/img/avatargui.png" alt="Avatar" width="150"/>
        <h1 class="text-uppercase mb-0">Guilherme Fernando de Souza</h1>
        <p class="font-weight-light mb-0">Estudante de Desenvolvimento de Sistemas</p>
    </div>
</section>

<section class="page-section text-dark mb-5 mt-5">
    <div class="container">
        <div class="text-center mb-3">
            <h2 class="page-section-heading d-inline-block">SOBRE MIM</h2>
        </div>
        <div class="d-flex justify-content-evenly">
            <div class="col-lg-4">
                <p class="lead">Meu nome é Guilherme, me interesso e gosto muito da área de tecnologia, especialmente por programação, atualmente estou cursando Desenvolvimento de sistemas na Etec Comendador João Rays de Barra Bonita/SP, estou estudando para um dia ter a oportunidade de trabalhar na área de tecnologia.</p>
            </div>
        </div>
    </div>
</section>
